{ ".app": [ "Designer" ]
, "title": "JST Designer"
, "async": true
, "components": {".require": "./components"} 
, "modules": [ {".require": "@appfibre/jst#ui", "arguments": [ "./cdn/preact.js" ] } ]
}